/* import font from google font */
@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Jua&display=swap");

:root {
  /* font */
  --font-default: sans-serif;
  --font-do-hyeon: "Do Hyeon", var(--font-default);
  --font-jua: "Jua", var(--font-default);

  /* color */
  --color-white: #f0f4f5;
  --color-main-color: #e9877e;
  --color-emp-color: #9e1030;
  --color-main-text: #fddfdf;
}

* {
  font-family: var(--font-do-hyeon);
}

body {
  padding: 0;
  margin: 0;
}

.navbar {
  display: flex;
  align-items: center;
  background-color: var(--color-main-color);
  padding: 8px 12px;
  height: 6vh;
}

.navbar_logo {
  font-size: 1rem;
  text-align: center;
}

.navbar_logo i {
  color: var(--color-main-text);
}

a {
  text-decoration: none;
  color: var(--color-white);
}

.navbar_menu {
  display: flex;
  list-style: none;
  font-size: 1.25rem;
  padding: 0;
  margin: 0;
  width: 100%;
  justify-content: center;
}

.navbar_menu li {
  padding: 8px 12px;
}

.navbar_menu li:hover {
  padding: 8px 12px;
  background-color: var(--color-main-text);
  border-radius: 4px;
}

.navbar_menu li:hover af-t {
  color: var(--color-emp-color);
}

.navbar_toggle {
  position: absolute;
  right: 16px;
  top: 13px;
  font-size: 24px;
  color: var(--color-main-text);
  display: none;
}

.navbar_sns {
  color: var(--color-white);
  display: none;
  list-style: none;
  padding-left: 0;
  font-size: 1.25rem;
  margin: 0;
}

.navbar_sns li {
  padding: 8px;
}

main {
  padding: 20px;
  background: linear-gradient(120deg, #db9b34, #ff7b00);
}

.production {
  background-color: var(--color-white);
  display: inline-flex;
  border-radius: 5px;
  padding: 8px;
  margin-bottom: 20px;
  width: 45%;
}

.production h2 {
  margin: 0;
  margin-bottom: 10px;
  text-align: center;
  color: var(--color-emp-color);
}

.production div {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.production div img {
  border: 2px solid var(--color-main-color);
  width: 30%;
  margin-right: 5%;
  height: fit-content;
  border-radius: 10px;
}

.production div ul li button {
  outline: none;
  border: none;
  background: var(--color-main-color);
}

/* 스크린 폭이 625px 이하 일 때 변경사항 */
@media screen and (max-width: 700px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    padding: 8px 24px;
    height: 6vh;
  }

  .navbar_logo {
    font-size: 1.75rem;
    transform: translateY(7.5%);
    margin-bottom: 10px;
  }

  .navbar_logo a {
    display: none;
  }

  .navbar_menu {
    display: none;
    overflow-y: hidden;
  }

  .navbar_menu li {
    width: 100%;
    text-align: center;
  }

  .navbar_sns {
    width: 100%;
    justify-content: center;
    display: none;

    margin-top: 10px;
    padding-top: 10px;
    border-top: 4px var(--color-emp-color) solid;
  }

  .navbar_toggle {
    display: block;
  }

  /* script.js 에서 클래스 관리 */
  .navbar.active {
    height: 22vh;
  }

  .navbar_menu.active,
  .navbar_sns.active {
    display: flex;
  }

  .production {
    display: block;
    width: auto;
  }
}
